.login__container {
    width: 400px;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__header {
    margin-bottom: 50px;
}

.login__form {
    margin: 0 auto;
    width: 190px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form__button {
    width: 50%;
    margin: 0 auto;
}

.login__footer {
    width: 250px;
    margin: 60px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login__footer__text {
    text-align: center;
}

.login__footer__button {
    width: 150px;
    height: 40px;
}